{#
  @macro printout
#}
{% macro printout(route, reflection, app_reference) %}
  {% import _self as main %}

  {{ main.printoutMain(route, reflection) }}
{% endmacro %}

{#
  @macro printoutDocBlock
#}
{% macro printoutDocBlock(route, reflection) %}
  <p>
    {{ reflection.docblock|docblock2html|raw }}
  </p>
{% endmacro %}

{#
  @macro printoutMiddleware
#}
{% macro printoutMiddleware(route, reflection) %}
<div class="table-responsive">
  <table class="table table-bordered table-striped table-sm table-hover">
    <thead class="thead-dark">
      <th>Callable</th>
      <th>Parameters</th>
    </thead>
    <tbody>
    {% for middleware in route.middlewares %}
      <tr>
        <td class="w-25">
          {{middleware.callable}}
        </td>
        <td class="w-75">
          {{ print_rhtml(middleware.arguments)|raw }}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
</div>
{% endmacro %}

{#
  @macro printoutCode
#}
{% macro printoutCode(route, reflection) %}
  <div class="table-responsive">
    <table class="table table-bordered table-striped table-sm">
      <tbody>
        <tr>
          <th class="w-25">
            Namepsace
          </th>
          <td class="w-75">
            {{reflection.namespace}}
          </td>
        </tr>
        <tr>
          <th class="w-25">
            Controller
          </th>
          <td class="w-75">
            {{reflection.controller.name}}
          </td>
        </tr>
        <tr>
          <th class="w-25">
            Action
          </th>
          <td class="w-75">
            {{reflection.method.name}}
          </td>
        </tr>
        <tr>
          <th class="w-25">
            Parameters
          </th>
          <td class="w-75">
            <ul>
              {% for parameter in reflection.method.parameters %}
                <li>
                  <strong>{{parameter.getType()}}</strong> {{parameter.getName()}}
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
{% endmacro %}

{#
  @macro printoutCode
#}
{% macro printoutMain(route, reflection) %}
  {% import _self as main %}

  <div class="card">

    <!-- CARD HEADER BEGIN -->
    <div class="card-header" id="heading{{reflection.method.name}}">
      <h5 class="mb-0">

        <!-- HTTP METHOD -->
        <span class="p-2 mb-1 bg-info text-white">
          {% if route.http_method is iterable %}
            [{% for method in route.http_method %}{{ method }} {% endfor %}]
          {% else %}
            {{route.http_method}}
          {% endif %}
        </span>
        <!-- CONTROLLER_NAME::METHOD_NAME -->
        <span class="p-2 mb-1 bg-light text-dark">{{route.name}}</span>

        <!-- ROUTE PATH -->
        <button class="btn btn-link"
                data-toggle="collapse"
                data-target="#collapse{{reflection.method.name}}"
                aria-expanded="false"
                aria-controls="collapse{{reflection.method.name}}">
          {{route.path}}
        </button>

        <!-- SINCE -->
        {% if route.apidoc.since|length > 0 %}
          <span class="alert alert-info alert-primary float-right" role="alert" style="margin-right: 2px;"> Since: {{route.apidoc.since}} </span>
        {% endif %}

        <!-- VERSION -->
        {% if route.apidoc.version|length > 0 %}
          <span class="alert alert-info float-right" role="alert" style="margin-right: 2px;"> Version: {{route.apidoc.version}} </span>
        {% endif %}

        <!-- DEPRECATED -->
        {% if route.apidoc.deprecated == true %}
          <span class="alert alert-danger float-right" role="alert" style="margin-right: 2px;"> <strong>Deprecated</strong> </span>
        {% endif %}

      </h5>
    </div>
    <!-- CARD HEADER END -->

    <div id="collapse{{reflection.method.name}}" class="collapse multi-collapse">
      <div class="card-body">
        {{ tagtext(reflection.docblock)|raw }}

        <!-- TAB BEGIN -->
        <ul class="nav nav-tabs mb-3" id="pills-tab-{{reflection.method.name}}" role="tablist">
          <li class="nav-item">
            <a class="nav-link active"
               id="pills-code-tab-{{reflection.method.name}}"
               data-toggle="pill"
               href="#pills-code-{{reflection.method.name}}"
               role="tab"
               aria-controls="pills-code-{{reflection.method.name}}"
               aria-selected="true">
               Code
            </a>
          </li>
          {% if route.middlewares|length > 0 %}
            <li class="nav-item">
              <a class="nav-link"
                 id="pills-middleware-tab-{{reflection.method.name}}"
                 data-toggle="pill"
                 href="#pills-middleware-{{reflection.method.name}}"
                 role="tab"
                 aria-controls="pills-middleware-{{reflection.method.name}}"
                 aria-selected="false">
                Middleware
              </a>
            </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link"
               id="pills-comment-tab-{{reflection.method.name}}"
               data-toggle="pill"
               href="#pills-comment-{{reflection.method.name}}"
               role="tab"
               aria-controls="pills-comment-{{reflection.method.name}}"
               aria-selected="false">
              DocBlock
            </a>
          </li>
          {% if route.apidoc.author|length > 0 %}
            <li class="nav-item">
              <a class="nav-link"
                 id="pills-authors-tab-{{reflection.method.name}}"
                 data-toggle="pill"
                 href="#pills-authors-{{reflection.method.name}}"
                 role="tab"
                 aria-controls="pills-authors-{{reflection.method.name}}"
                 aria-selected="false">
                Author
              </a>
            </li>
          {% endif %}
        </ul>

        <!-- TABS -->

        <div class="tab-content" id="pills-tabContent-{{reflection.method.name}}">
          <!-- TAB: Code -->
          <div class="tab-pane fade show active"
               id="pills-code-{{reflection.method.name}}"
               role="tabpanel"
               aria-labelledby="pills-code-tab-{{reflection.method.name}}">
            {{ main.printoutCode(route, reflection) }}
            <!-- FILE INFO -->
            <p>
              <span class="font-italic"><strong>File:</strong> </span>
              <span class="font-weight-light"> {{reflection.rel_file}} </span>
              <br/>
              <span class="font-italic"><strong>Line:</strong> </span>
              <span class="font-weight-light"> {{reflection.method.start_line}} </span>
            </p>
          </div>

          <!-- TAB: Middleware -->
          {% if route.middlewares|length > 0 %}
            <div class="tab-pane fade"
                 id="pills-middleware-{{reflection.method.name}}"
                 role="tabpanel"
                 aria-labelledby="pills-middleware-tab-{{reflection.method.name}}">
              {{ main.printoutMiddleware(route, reflection) }}
            </div>
          {% endif %}

          <!-- TAB: DocBlock -->
          <div class="tab-pane fade"
               id="pills-comment-{{reflection.method.name}}"
               role="tabpanel"
               aria-labelledby="pills-comment-tab-{{reflection.method.name}}">
            {{ main.printoutDocBlock(route, reflection) }}
          </div>

          <!-- TAB: Authors -->
          {% if route.apidoc.author|length > 0 %}
            <div class="tab-pane fade"
                 id="pills-authors-{{reflection.method.name}}"
                 role="tabpanel"
                 aria-labelledby="pills-authors-tab-{{reflection.method.name}}">
              <ul>
                {% for author in route.apidoc.author %}
                  <li> {{author}} </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
        <!-- TAB END -->

      </div>
    </div>
  </div>
{% endmacro %}

{#
  @macro begin
#}
{% macro begin(sysdate) %}
<html>
<head>
    <title>Routes map</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/vendor/popper.min.js"></script>
    <script src="js/vendor/jquery-slim.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
</head>
<body style="font-size: 1.1rem">

  <!-- GENERATED AT -->
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    Created at: {{ sysdate }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div id="accordion">
{% endmacro %}

{#
  @macro end
#}
{% macro end() %}
    </div>
  </body>
</html>
{% endmacro %}
