{%- spaceless -%}
{% import format ~ '.twig' as routeHelper %}
{% set sysdate = "now"|date("d-m-Y H:i:s") %}

{#
  ----------------------------------------------------------------------------------------------------------------------
  Macros
  ----------------------------------------------------------------------------------------------------------------------
#}

{#
  @macro render
#}
{% macro render(methodReflection, actionAnnotations, ctrlAnnotations, format, app_ref, relative_path) %}

  {% import format ~ '.twig' as routeHelper %}

  {# Extract some data from reflection #}
  {% set _namespace            = methodReflection.getDeclaringClass().getNamespaceName() %}
  {% set _controller_name      = methodReflection.getDeclaringClass().getShortName() %}
  {% set _controller_full_name = methodReflection.getDeclaringClass().getName() %}
  {% set _method_name          = methodReflection.getName() %}
  {% set _method_parameters    = methodReflection.getParameters() %}
  {% set _method_start_line    = methodReflection.getStartLine() %}
  {% set _file_name            = methodReflection.getFileName() %}
  {% set _rel_file_name        = relative_path %}
  {% set _doccomment           = methodReflection.getDocComment() %}

  {# Extract data from annotation #}
  {% set _route_name        = actionAnnotations.route.name %}
  {% set _route_http_method = actionAnnotations.route.method %}
  {% set _route_path        = ctrlAnnotations.controller.path ~ actionAnnotations.route.path %}

  {# _api_doc #}
  {# @ApiDoc on Action overrides ApiDoc on Controller #}
  {% set _author = ctrlAnnotations.apidoc.author.value|merge(actionAnnotations.apidoc.author.value) %}

  {% if actionAnnotations.apidoc.version.value|length > 0 %}
    {% set _version = actionAnnotations.apidoc.version.value %}
  {% else %}
    {% set _version = ctrlAnnotations.apidoc.version.value %}
  {% endif %}

  {% if actionAnnotations.apidoc.since.value|length > 0 %}
    {% set _since = actionAnnotations.apidoc.since.value %}
  {% else %}
    {% set _since = ctrlAnnotations.apidoc.since.value %}
  {% endif %}

  {% if actionAnnotations.apidoc.deprecated == true %}
    {% set _deprecated = true %}
  {% else %}
    {% set _deprecated = ctrlAnnotations.apidoc.deprecated %}
  {% endif %}

  {% set _api_doc = {
      author:     _author,
      version:    _version,
      since:      _since,
      deprecated: _deprecated
     }
  %}

  {% set _route_middlewares = ctrlAnnotations.middleware|merge(actionAnnotations.middleware) %}

  {% set route = {
        name:        _route_name,
        path:        _route_path,
        http_method: _route_http_method,
        apidoc:      _api_doc,
        middlewares: _route_middlewares
     }
  %}

  {% set reflection = {
      namespace:  _namespace,
      controller: {
                    name:      _controller_name,
                    full_name: _controller_full_name
                  },
      method:     {
                    name:       _method_name,
                    parameters: _method_parameters,
                    start_line: _method_start_line
                  },
      file:       _file_name,
      rel_file:   _rel_file_name,
      docblock:   _doccomment
    }
  %}

  {{ routeHelper.printout(route, reflection, app_ref) }}
{% endmacro %}

{#
  ======================================================================================================================
#}

{% import _self as main %}

{# MAIN BEGIN #}
{{- routeHelper.begin(sysdate) -}}

  {%- for controller in map -%}
    {% for method in controller.methods %}
      {% if method.annotations.route is not null %}
        {{ main.render(method.reflection, method.annotations, controller.class, format, app_ref, controller.relative_path) }}
      {% endif %}
    {% endfor %}
  {%- endfor -%}

{{- routeHelper.end() -}}
{# MAIN END #}

{%- endspaceless -%}
