{#
  @macro printout
#}
{% macro printout(route, reflection, app_reference) %}
{% import _self as main %}

{% if route.http_method is iterable %}
{% set http_method = 'map' %}
{% else %}
{% set http_method = route.http_method %}
{% endif %}

{# //path/To/Source/File #}
// {{reflection.rel_file}}

{{ app_reference|raw -}}{{- http_method|lower -}}{{-main.arguments(route, reflection)}}
{{main.setRouteName(route)}}
{{main.addMiddlewares(route)-}};
{% endmacro %}

{#
  @macro setRouteName
#}
{% macro setRouteName(route) %}
{%- if route.name is not null and route.name|length > 0 -%}
->setName("{{route.name}}")
{%- endif -%}
{% endmacro %}

{#
  @macro addMiddlewares
#}
{% macro addMiddlewares(route) %}
{% if route.middlewares|length > 0 %}
{# We must reverse middlewares, see documentations on Slim3 #}
{% for middleware in route.middlewares|reverse %}
->add(new {{middleware.callable}}({{- print_r(middleware.arguments)|raw -}}))
{% endfor %}
{% endif %}
{% endmacro %}

{#
  @macro arguments
#}
{% macro arguments(route,reflection) %}
{%- if route.http_method is iterable -%}
([{{print_r(route.http_method)|raw}}], "{{route.path}}", "{{reflection.controller.full_name|doublebackslash}}:{{reflection.method.name}}")
{%- else -%}
("{{route.path}}", "{{reflection.controller.full_name|doublebackslash}}:{{reflection.method.name}}")
{%- endif -%}
{% endmacro %}

{#
  @macro begin
#}
{% macro begin(sysdate) %}
<?php
/*
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    !! {{ sysdate }}
    !! THIS FILE WAS GENERATED AUTOMATICALLY BY slim-tool APP
    !! DO NOT CHANGE IT
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 */
{% endmacro %}

{#
  @macro end
#}
{% macro end() %}
/*
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    !! THIS FILE WAS GENERATED AUTOMATICALLY BY slim-tool APP
    !! DO NOT CHANGE IT
    !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
 */
{% endmacro %}
